.description {
  margin-left: 45px;
}
.description h1 {
  font-family: 'Scope One', serif;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-weight: bold;
}

.tooltip-major {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip-major .tooltip-major-description {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /*positioning tooltip text*/
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 105%;
  opacity: 0;
  transition: opacity 1s;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

/*forming the tooltip arrow*/
.tooltip-major .tooltip-major-description::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.tooltip-major:hover .tooltip-major-description {
  visibility: visible;
  opacity: 1;
}

* { box-sizing: border-box; }

.carousel {
  background: #FAFAFA;
  position: relative;
}
.carousel-cell {
  text-align: center;
  width: 66%;
  height: 30%;
}
.static-banner {
  position: absolute;
  background: hsla(0, 0%, 0%, 0.3);
  z-index: 1;
  padding: 2px 20px;
  color: white;
  pointer-events: none;
}

.static-banner-design {
  left: 10px;
  top: 10px;
  text-transform: lowercase;
  font-family: 'Source Sans Pro', sans-serif;
}
