.description {
  margin-top: 70px;
  margin-left: 35px;
}
.description h1 {
  font-family: 'Scope One', serif;
  letter-spacing: 2px;
  text-transform: lowercase;
}
.description p {
  font-family: 'Source Sans Pro', sans-serif;
}
.resume {
  margin-left: 35px;
}
.resume a {
  font-family: 'Scope One', serif;
  text-decoration: none;
  color: black;
}

.resume a:hover {
  color: gray;
}
