.projects {
  margin-top: 70px;
  margin-left: 35px;
}

.projects h3 {
  font-family: 'Scope One', serif;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.projects a {
  font-family: 'Scope One', serif;
  text-decoration: none;
  text-transform: lowercase;
  color: black;
}

.projects a:hover {
  color: gray;
}
.projects p {
  font-family: 'Source Sans Pro', sans-serif;
}

.projects img {
  width: 500px;
  height: auto;
}
