.project-navigation {
  position: fixed;
  margin-left: 62px;
}
.project-navigation ul {
  padding: 0;
}

.project-navigation ul li {
  list-style-type: none;
  display: block;
}

.project-navigation a {
  font-family: 'Scope One', serif;
  color: black;
  text-decoration: none;
}

.project-navigation a:hover {
  color: gray;
  text-decoration: none;
}

.project-navigation a:focus {
  color: black;
  text-decoration: none;
}

.projects {
  position: absolute;
  margin-left: 70px;
}

.projects h3 {
  font-family: 'Scope One', serif;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-top: 0px;
}

.projects img {
  width: 500px;
  height: auto;
}

.projects h2 {
  font-family: 'Scope One', serif;
  text-transform: lowercase;
  font-weight: bold;
}
