.project-navigation {
  position: fixed;
  margin-left: 62px;
}
.project-navigation ul {
  padding: 0;
}

.project-navigation ul li {
  list-style-type: none;
  display: block;
}

.project-navigation a {
  font-family: 'Scope One', serif;
  color: black;
  text-decoration: none;
}

.project-navigation a:hover {
  color: gray;
  text-decoration: none;
}

.project-navigation a:focus {
  color: black;
  text-decoration: none;
}

.projects {
  position: absolute;
  margin-left: 70px;
}

.projects h3 {
  font-family: 'Scope One', serif;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-top: 0px;
}

.projects img {
  width: 500px;
  height: auto;
}

.projects h2 {
  font-family: 'Scope One', serif;
  text-transform: lowercase;
  font-weight: bold;
}

* { box-sizing: border-box; }

.carousel {
  background: #FAFAFA;
  position: relative;
}

.carousel-cell {
  text-align: center;
  width: 66%;
  height: 300px;
}

.static-banner {
  position: absolute;
  background: hsla(0, 0%, 0%, 0.3);
  z-index: 1;
  padding: 2px 20px;
  color: white;
  pointer-events: none;
}

.static-banner-design {
  left: 10px;
  top: 10px;
  text-transform: lowercase;
  font-family: 'Source Sans Pro', sans-serif;
}
