html {
  height: 100%;
  width: 100%;
}
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: white;
}

.navigation ul li {
  display: inline;
  padding: 5px;
}

.navigation a {
  font-family: 'Scope One', serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: lowercase;
  color: black;
  letter-spacing: 1px;
}

.navigation a:hover{
  color: gray;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -170px;
  padding: 0 100px;
}

.home h1 {
  text-align: center;
  font-family: 'Scope One', serif;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.home p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-left: -5px;
}

.fa-icon {
  color: black;
}

.fa-icon:hover {
  color: grey;
}

.icons ul li {
  display: inline;
  padding: 5px;
}

.content {
  margin-top: 70px;
  margin-left: 38px;
}
