.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
}

.navigation ul li {
  display: inline;
  padding: 5px;
}

.navigation a {
  font-family: Courier;
  text-decoration: none;
  text-transform: lowercase;
  color: black;
}

.navigation a:hover{
  color: gray;
}

.projects {
  margin-top: 70px;
}
