html {
  height: 100%;
  width: 100%;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
}

.navigation ul li {
  display: inline;
  padding: 5px;
}

.navigation a {
  font-family: Courier;
  text-decoration: none;
  text-transform: lowercase;
  color: black;
}

.navigation a:hover{
  color: gray;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -170px;
  padding: 0 100px;
}

.home h1 {
  text-align: center;
  font-family: Courier;
  text-transform: lowercase;
}

.home p {
  font-family: Courier;
  text-align: center;
}

.home ul li {
  margin-left: 12px;
}

.fa-icon {
  color: black;
}

.fa-icon:hover {
  color: grey;
}

.icons ul li {
  display: inline;
  padding: 5px;
}
